very_silly_serial/flows.json
[
    {
        "id": "bf045e3a5d610464",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5878f47383096bf",
        "type": "mqtt in",
        "z": "bf045e3a5d610464",
        "name": "",
        "topic": "dev/board05/A0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "da8600015f2fa33d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "73195e171b903ee2"
            ]
        ]
    },
    {
        "id": "ad6d99f8aac25738",
        "type": "mqtt out",
        "z": "bf045e3a5d610464",
        "name": "",
        "topic": "dev/board05/led/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da8600015f2fa33d",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "127129f004b44dee",
        "type": "ui_switch",
        "z": "bf045e3a5d610464",
        "name": "",
        "label": "Built-in LED",
        "tooltip": "",
        "group": "78afdf952ae3acdc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "ad6d99f8aac25738"
            ]
        ]
    },
    {
        "id": "73195e171b903ee2",
        "type": "ui_gauge",
        "z": "bf045e3a5d610464",
        "name": "",
        "group": "78afdf952ae3acdc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "analogRead(A0)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "4c8f4cf5d6b82cfe",
        "type": "mqtt in",
        "z": "bf045e3a5d610464",
        "name": "",
        "topic": "dev/board05/led",
        "qos": "2",
        "datatype": "json",
        "broker": "da8600015f2fa33d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "127129f004b44dee"
            ]
        ]
    },
    {
        "id": "f1524a6125c7c617",
        "type": "ui_button",
        "z": "bf045e3a5d610464",
        "name": "",
        "group": "78afdf952ae3acdc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Looooong Beep",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "2328fa5eaf91ec50"
            ]
        ]
    },
    {
        "id": "2328fa5eaf91ec50",
        "type": "mqtt out",
        "z": "bf045e3a5d610464",
        "name": "",
        "topic": "dev/board05/beeper/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da8600015f2fa33d",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "da8600015f2fa33d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.82",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "78afdf952ae3acdc",
        "type": "ui_group",
        "name": "Default",
        "tab": "e2d7a8b89a5fbe6c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2d7a8b89a5fbe6c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]